*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

li {
    list-style: none;
}

a { text-decoration: none;}

.body {

    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: rgb(0, 156, 184);
    color: white;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: 0,3s;
    
   
}


.nav, .main-nav__container, .main-nav__item {

    display: inline-block;
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-around;

}




.news {

    background-color: rgb(0, 204, 255);
    padding: 7rem;
    margin: 0rem;
    top: none;
    
    


}


    
.news__container header {

    font-size: 3rem;
    margin: 2rem;

}


  
.news2{

    background-color: rgb(109, 236, 253);
    padding: 6rem;
    text-align: left;
}

.news__container--2 header {

    font-size: 2rem;
    margin: 1rem;
}

.news3 {

    background-color: rgb(180, 246, 255);
    padding: 6rem;
    text-align: left;


}

.imagen {
    
    text-align: center;
    display: inline-block;
    background: rgb(72, 157, 255);
    width: 128px;
    height: 128px;

}

@media screen and (min-width: 50rem ) {

    .nav { background-color: rgb(255, 217, 0);}
}
    
}